/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;

    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    max-height: 100%;
}



/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div.seattaken {
   content:url(../img/seattaken.jpg);
   float: left;
   margin: 5px;
}

div.seatfree {
   content:url(../img/seatfree.jpg);
   float: left;
   margin: 5px;
}

.eventDiv {
  padding: 20px 10px;
  font-size: 22px;
  margin: 10px;
  borer: 1px solid gray;
}

body.loading::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7) url(https://s-media-cache-ak0.pinimg.com/originals/08/f4/4e/08f44ee35174c455eec7caacf5bbcfb1.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

#eventsContainer {
  padding-top: 50px;
  text-align: center;
}

.eventDiv {
  border: 1px solid tomato;
  background: rgba(255, 99, 71, 0.19);
  cursor: pointer;
}

.welcomeDiv {
  float: right;
  color: #fff;
  padding-top: 10px;
}
